# Feature Engineering

- Age Category
- BMI Category - Underweight, normal Weight, Overweight, Obesity
- Pollution Risk - Location and Air Pollution level
- Smoking Status Encoding
- Interaction Features
- Location Encoding

In [19]:
#importing necessary libraries
import numpy as np
import pandas as pd

In [20]:
#Loading the dataset
df = pd.read_csv("G:\DataScience\AIcourse\COPD Prediction\Data\synthetic_COPD_data.csv")
df.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis
0,31,Male,Former,1,1,1,27.56,Lalitpur,84,0,0
1,60,Male,Never,1,0,0,30.30,Pokhara,131,1,0
2,33,Male,Former,0,0,1,28.45,Pokhara,123,1,0
3,36,Female,Current,1,0,0,27.49,Kathmandu,253,0,1
4,58,Male,Never,0,0,0,25.49,Pokhara,117,1,0

In [21]:
#Creating Age categories
df['Age_Category']= pd.cut(df['Age'], bins=[29, 39, 49, 59, 69, 79,89], labels = ['30 - 39', '40 - 49', '50 - 59', '60 - 69', '70 - 79', '80-89'])

df.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis,Age_Category
0,31,Male,Former,1,1,1,27.56,Lalitpur,84,0,0,30 - 39
1,60,Male,Never,1,0,0,30.30,Pokhara,131,1,0,60 - 69
2,33,Male,Former,0,0,1,28.45,Pokhara,123,1,0,30 - 39
3,36,Female,Current,1,0,0,27.49,Kathmandu,253,0,1,30 - 39
4,58,Male,Never,0,0,0,25.49,Pokhara,117,1,0,50 - 59

In [34]:
#Creating BMI Categories
df['BMI_Categories'] = pd.cut(df['BMI'], bins = [0, 18.5, 24.5, 29.9, 35], labels= ['Underweight', 'Normal Weight', 'Overweight', 'Obesity'])

df.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis,...,Smoking_Pollution_interaction,Location_Biratnagar,Location_Butwal,Location_Chitwan,Location_Dharan,Location_Hetauda,Location_Kathmandu,Location_Lalitpur,Location_Nepalgunj,Location_Pokhara
0,31,Male,Former,1,1,1,27.56,84,0,0,...,42.0,False,False,False,False,False,False,True,False,False
1,60,Male,Never,1,0,0,30.30,131,1,0,...,0.0,False,False,False,False,False,False,False,False,True
2,33,Male,Former,0,0,1,28.45,123,1,0,...,61.5,False,False,False,False,False,False,False,False,True
3,36,Female,Current,1,0,0,27.49,253,0,1,...,253.0,False,False,False,False,False,True,False,False,False
4,58,Male,Never,0,0,0,25.49,117,1,0,...,0.0,False,False,False,False,False,False,False,False,True

In [35]:
# Encoding Pollution Risk Score
df['Pollution_Risk_Score'] = np.where(df['Air_Pollution_Level'] > 150, 1, 0)

In [36]:
# Encoding smoking status
df['Smoking_Status_encoded'] = df['Smoking_Status'].map({'Current': 1, 'Former': 0.5, 'Never': 0})

In [37]:
# encoding gender
df['Gender_'] = df['Gender'].map({'Male': 1, 'Female':0})

In [26]:
# Interaction Features - Smoking status and pollution level
df['Smoking_Pollution_interaction'] = df['Smoking_Status_encoded'] * df['Air_Pollution_Level']

In [27]:
df.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis,Age_Category,BMI_Categories,Pollution_Risk_Score,Smoking_Status_encoded,Gender_,Smoking_Pollution_interaction
0,31,Male,Former,1,1,1,27.56,Lalitpur,84,0,0,30 - 39,Overweight,0,0.5,1,42.0
1,60,Male,Never,1,0,0,30.30,Pokhara,131,1,0,60 - 69,Obessity,0,0.0,1,0.0
2,33,Male,Former,0,0,1,28.45,Pokhara,123,1,0,30 - 39,Overweight,0,0.5,1,61.5
3,36,Female,Current,1,0,0,27.49,Kathmandu,253,0,1,30 - 39,Overweight,1,1.0,0,253.0
4,58,Male,Never,0,0,0,25.49,Pokhara,117,1,0,50 - 59,Overweight,0,0.0,1,0.0

In [28]:
df = pd.get_dummies(df, columns=['Location'], drop_first=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Age                               1000 non-null   int64
 1   Gender                            1000 non-null   object
 2   Smoking_Status                    1000 non-null   object
 3   Biomass_Fuel_Exposure             1000 non-null   int64
 4   Occupational_Exposure             1000 non-null   int64
 5   Family_History_COPD               1000 non-null   int64
 6   BMI                               1000 non-null   float64
 7   Air_Pollution_Level               1000 non-null   int64
 8   Respiratory_Infections_Childhood  1000 non-null   int64
 9   COPD_Diagnosis                    1000 non-null   int64
 10  Age_Category                      1000 non-null   category
 11  BMI_Categories                    1000 non-null   category
 12  Pollution_Risk_Score              1000 non-null   int32
 13  Smoking_Status_encoded            1000 non-null   float64
 14  Gender_                           1000 non-null   int64
 15  Smoking_Pollution_interaction     1000 non-null   float64
 16  Location_Biratnagar               1000 non-null   bool
 17  Location_Butwal                   1000 non-null   bool
 18  Location_Chitwan                  1000 non-null   bool
 19  Location_Dharan                   1000 non-null   bool
 20  Location_Hetauda                  1000 non-null   bool
 21  Location_Kathmandu                1000 non-null   bool
 22  Location_Lalitpur                 1000 non-null   bool
 23  Location_Nepalgunj                1000 non-null   bool
 24  Location_Pokhara                  1000 non-null   bool
dtypes: bool(9), category(2), float64(3), int32(1), int64(8), object(2)
memory usage: 116.8+ KB

In [38]:
# Save my engineered data
df.to_csv('engineered_COPD_data.csv', index=False)